numpy==1.26.4
streamlit==1.35.0
streamlit-webrtc==0.47.6
streamlit-autorefresh==1.0.1
opencv-python-headless==4.9.0.80
mediapipe==0.10.14
av==12.0.0
cvzone==1.6.1
PyMuPDF==1.24.0
PyPDF2==3.0.1
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-groq==0.1.9
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.4
faiss-cpu==1.8.0
sentence-transformers==2.7.0
huggingface-hub==0.23.4
groq==0.9.0
