streamlit
streamlit-webrtc
streamlit-autorefresh

opencv-python-headless==4.9.0.80
mediapipe==0.10.14
av
cvzone

PyMuPDF
PyPDF2

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters

faiss-cpu
sentence-transformers
huggingface-hub
groq

